*{
    box-sizing: border-box;
    margin: 0;
    padding: 0; 
    background-color: black;
} 

.contenedor{
    width: 90%;
    margin: auto;
} 


h1{
    text-align: center;
    margin: 20px 0;
    color: blue;
}